# <span style='color:DarkCyan'> Advanced Python Objects Test. </span>

## Advanced Python Objects Test

## Advanced Numbers

**Problem 1: Convert 1024 to binary and hexadecimal representation**

In [1]:
hex(1024)

'0x400'

**Problem 2: Round 5.23222 to two decimal places**

In [2]:
round(5.23222,2)

5.23

## Advanced Strings
**Problem 3: Check if every letter in the string s is lower case**

In [4]:
s = 'hello how are you Mary, are you feeling okay?'

In [8]:
type (len(s))

int

In [10]:
range(len(s))

range(0, 45)

In [23]:
for x in range(len(s)):
    print(f"Hello {x} letter is : {s[x]} ")
    if s[x].islower() :
        print("yes")

Hello 0 letter is : h
yes
Hello 1 letter is : e
yes
Hello 2 letter is : l
yes
Hello 3 letter is : l
yes
Hello 4 letter is : o
yes
Hello 5 letter is :
Hello 6 letter is : h
yes
Hello 7 letter is : o
yes
Hello 8 letter is : w
yes
Hello 9 letter is :
Hello 10 letter is : a
yes
Hello 11 letter is : r
yes
Hello 12 letter is : e
yes
Hello 13 letter is :
Hello 14 letter is : y
yes
Hello 15 letter is : o
yes
Hello 16 letter is : u
yes
Hello 17 letter is :
Hello 18 letter is : M
Hello 19 letter is : a
yes
Hello 20 letter is : r
yes
Hello 21 letter is : y
yes
Hello 22 letter is : ,
Hello 23 letter is :
Hello 24 letter is : a
yes
Hello 25 letter is : r
yes
Hello 26 letter is : e
yes
Hello 27 letter is :
Hello 28 letter is : y
yes
Hello 29 letter is : o
yes
Hello 30 letter is : u
yes
Hello 31 letter is :
Hello 32 letter is : f
yes
Hello 33 letter is : e
yes
Hello 34 letter is : e
yes
Hello 35 letter is : l
yes
Hello 36 letter is : i
yes
Hello 37 letter is : n
yes
Hello 38 letter is : g
yes
Hello 39 letter is :
Hello 40 letter is : o
yes
Hello 41 letter is : k
yes
Hello 42 letter is : a
yes
Hello 43 letter is : y
yes
Hello 44 letter is : ?

In [21]:
string1 = "Hello"

In [22]:
string1.islower()

False

**Problem 4: How many times does the letter 'w' show up in the string below?**

In [25]:
s = 'twywywtwywbwhsjhwuwshshwuwwwjdjdid'

In [27]:
s.count('w')

12

## Advanced Sets
**Problem 5: Find the elements in set1 that are not in set2:**

In [30]:
set1 = {2,3,1,5,6,8}
set2 = {3,1,7,5,6,8}

In [31]:
set1.difference(set2)

{2}

**Problem 6: Find all elements that are in either set:**

## Advanced Dictionaries

**Problem 7: Create this dictionary:
{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}
 using a dictionary comprehension.**

In [33]:
mydict = {'one': 1, 'two': 2 }

In [34]:
mydict

{'one': 1, 'two': 2}

In [64]:
mydict1 = { x: pow(x,3) for x in range(5)}

In [65]:
mydict1

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

## Advanced Lists

    **Problem 8: Reverse the list below:**

In [57]:
list1 = [1,2,3,4]

In [58]:
list1.reverse()

In [59]:
list1

[4, 3, 2, 1]

**Problem 9: Sort the list below:**

In [54]:
list2 = [3,4,2,5,1]

In [55]:
list2.sort()

In [56]:
list2

[1, 2, 3, 4, 5]

# Great Job!