___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# datetime module

Python has the datetime module to help deal with timestamps in your code. Time values are represented with the time class. Times have attributes for hour, minute, second, and microsecond. They can also include time zone information. The arguments to initialize a time instance are optional, but the default of 0 is unlikely to be what you want.

In [12]:
from datetime import datetime

In [13]:
mydateandtime = datetime

# time

Let's take a look at how we can extract time information from the datetime module. We can create a timestamp by specifying datetime.time(hour,minute,second,microsecond)

In [1]:
import datetime

t = datetime.time(4, 20, 1)

# Let's show the different components
print(t)
print('hour  :', t.hour)
print('minute:', t.minute)
print('second:', t.second)
print('microsecond:', t.microsecond)
print('tzinfo:', t.tzinfo)

04:20:01
hour  : 4
minute: 20
second: 1
microsecond: 0
tzinfo: None

In [27]:
import datetime
# from datetime import datetime

In [28]:
mytime = datetime.date.today()

In [20]:
mytime.minute

12

In [21]:
mytime.minute

12

In [22]:
today = datetime.date.today()

In [23]:
today

datetime.date(2023, 8, 31)

In [24]:
today.ctime()

'Thu Aug 31 00:00:00 2023'

Note: A time instance only holds values of time, and not a date associated with the time. 

We can also check the min and max values a time of day can have in the module:

In [2]:
print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

The min and max class attributes reflect the valid range of times in a single day.

In [10]:
now

NameError: name 'now' is not defined

In [3]:
import datetime

In [4]:
mytime = datetime.date.today()

In [5]:
mytime.day

1

In [6]:
mytime.today()

datetime.date(2023, 9, 1)

In [7]:
mytime.month

9

In [8]:
mytime.year

2023

In [9]:
mytime.ctime()

'Fri Sep  1 00:00:00 2023'

# Dates

datetime (as you might suspect) also allows us to work with date timestamps. Calendar date values are represented with the date class. Instances have attributes for year, month, and day. It is easy to create a date representing todayâ€™s date using the today() class method.

Let's see some examples:

In [10]:
today = datetime.date.today()
print(today)  
print('ctime:', today.ctime())
print('tuple:', today.timetuple())
print('ordinal:', today.toordinal())
print('Year :', today.year)
print('Month:', today.month)
print('Day  :', today.day)

2023-09-01
ctime: Fri Sep  1 00:00:00 2023
tuple: time.struct_time(tm_year=2023, tm_mon=9, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=244, tm_isdst=-1)
ordinal: 738764
Year : 2023
Month: 9
Day  : 1

As with time, the range of date values supported can be determined using the min and max attributes.

In [11]:
print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

Another way to create new date instances uses the replace() method of an existing date. For example, you can change the year, leaving the day and month alone.

In [1]:
d1 = datetime.date(2015, 3, 11)
print('d1:', d1)
d2 = d1.replace(year=1990)
print('d2:', d2)

NameError: name 'datetime' is not defined

# Replacing a date in a variable

datetime.timedelta(days=41)

datetime.timedelta(days=41)

# Arithmetic

We can perform arithmetic on date objects to check for time differences. For example:

In [6]:
d1

datetime.date(2015, 3, 11)

In [7]:
d2

datetime.date(1990, 3, 11)

In [8]:
d1-d2

datetime.timedelta(9131)

This gives us the difference in days between the two dates. You can use the timedelta method to specify various units of times (days, minutes, hours, etc.)

Great! You should now have a basic understanding of how to use datetime with Python to work with timestamps in your code!

In [1]:
from datetime import datetime

In [2]:
newdatetime = datetime.datetime(23,39)

AttributeError: type object 'datetime.datetime' has no attribute 'datetime'

In [34]:

mytime.replace(2,2,30)

ValueError: day is out of range for month

In [38]:
datetime1 = datetime(2022,12,4,22,0)

In [39]:
datetime2 = datetime1.year

In [40]:
datetime2

2022

In [35]:
from datetime import date
date1 = date(2021,10,10)
date2 = date(2021,11,20)
date2 - date1

datetime.timedelta(days=41)

# Date and Time in Single Functionality

In [2]:
from datetime import datetime
mydatetime = datetime(2021,3,10)
print (mydatetime)

2021-03-10 00:00:00

# Replace functionality

In [13]:
from datetime import datetime

In [18]:
#   to print the current date and time values .
datetime.now()

datetime.datetime(2023, 8, 31, 9, 34, 7, 399703)

In [20]:
mydatetime =  datetime(2023, 8, 31, 9, 34, 7)

In [21]:

mydatetime.time()

datetime.time(9, 34, 7)